/ArcCore/.project
/ArcCore/.settings
/ArcCore/target
/ArcCore/.classpath
/ArcSecurity/.classpath
/ArcSecurity/.project
/ArcSecurity/.settings
/ArcSecurity/target
/commons-domain/.project
/commons-domain/.settings
/commons-domain/target
/commons-domain/.classpath
/domain/.project
/domain/.settings
/domain/target
/domain/.classpath
/ws-rest/.project
/ws-rest/.settings
/ws-rest/target
/ws-rest/.classpath
/ws-rest-commons/.project
/ws-rest-commons/.settings
/ws-rest-commons/target
/ws-rest-commons/.classpath
/ws-rest-security/.classpath
/ws-rest-security/.project
/ws-rest-security/.settings
/ws-rest-security/target
