<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">	    
	<annotation-config />
	<aop:aspectj-autoproxy />
	
		
	<component-scan base-package="ar.com.avaco.ws.handler"
		resource-pattern="**/*Handler.class" />
		
	<mvc:annotation-driven />
	
	<mvc:default-servlet-handler />
    <mvc:view-controller path="/" view-name="index.html"/>

    <beans:bean id="contentNegotiationManager"
	  class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
	    <beans:property name="favorPathExtension" value="false" />
	    <beans:property name="favorParameter" value="true"/>
	    <beans:property name="parameterName" value="mediaType"/>
	    <beans:property name="ignoreAcceptHeader" value="true" />
	    <beans:property name="defaultContentType" value="application/json" />
	    <beans:property name="useJaf" value="false" />
	 
	     <beans:property name="mediaTypes">
	        <beans:map>
	            <beans:entry key="json" value="application/json" />
	            <beans:entry key="xml" value="application/xml" />
	        </beans:map>
	    </beans:property>
	</beans:bean> 
    


</beans:beans>